#tablealign{
    display: flex;
    justify-content: space-between;
    width: 300px;
    text-align: center;
    position: relative;
    right: -20%;
    padding: 0 20px;
    border-bottom: 1px solid black;
    align-items: center;
  }

  #widthcontrol{
    width: 30%;
    margin-top: 10px;
  }

  #center
  {
    display: flex;
    justify-content: space-around;
    width: 99% !important;

  }

  #states
  {
    border-right: 1px solid black;
    width: auto;
    font-size: 15px;
    font-weight: 700;
    height: auto;
  }

  .Bold
  {
    font-weight: 500;
  }
  .Center
  {
    text-align: center;
  }

  #widthset
  {
    width: 30%;
  }